<html>
    <div class="contenedor">
        <div class="primer-mensaje">
        <h1>Let Us Brighten <strong>Your Smile!</strong></h1>
        </div>
        <div class="segunda-clase">
            <h2>Helping patients achieve good dental health & beautiful smile is a privilege & responsibility. For over 30 <br> years, we proudly provided the best dental experience in New York. Our comfort-first approach is <br> designed to meet the needs of you & your entire family.</h2>
        </div>
        <div>
            <button class="boton">Make An Appinment</button>
        </div>

    </div>
</html>
<app-history></app-history> <!-- Incluye el componente History aquí -->

