<html>
<div class="contenedor">
    <div class="contenedor1">
        <div class="imagen">
            <img src="./img/cliente.png" alt="">
        </div>
        <div class="informacion">
            <div class="mensaje-principal">
                <h1>What our client says about us</h1>
            </div>
            <div class="mensaje-secundario">
                <h2>I’ve seen a lot of Dentists over my lifetime because I’ve had some serious dental <br> issues. But
                    my highest praise goes to Dr. Jonathon Doe and his staffs . I was always <br> very anxious going to
                    the dentist but this time at Digital Implant, my experience was <br> so painless and relaxed their
                    was no discomfort whatsoever.</h2>
            </div>
        </div>
    </div>

</div>

</html>