<html>
<div class="contenedor">
    <div class="titulo">
        <div class="titulo1">
            <h1>Meet Some of Our <br>
                <strong>Brains</strong>
            </h1>
        </div>
        <div class="titulo2">
            <h1>MEET OUR <span>DOCTORS</span></h1>
        </div>
    </div>

</div>

<div class="doctores">
    <div class="doctor1">
        <img src="./img/doctor1.png" alt="">
        <h1>Dr. Jeanette Hoff</h1>
        <h2>Orthodontic Treatment <br>Yale Medical School</h2>
    </div>
    <div class="doctor1">
        <img src="./img/doctor2.png" alt="">

        <h1>Dr. David Ambrose</h1>
        <h2>Orthodontic Treatment  <br>Harvard Medical School</h2>
    </div>
    <div class="doctor1">
        <img src="./img/doctor3.png" alt="">

        <h1>Dr. Jenelia Breton</h1>
        <h2>Orthodontic Treatment  <br>Oxford Medical School</h2>
    </div>
    <div class="doctor1">
        <img src="./img/doctor4.png" alt="">

        <h1> Dr. Jagajeet Aurora
            <h2>Orthodontic Treatment  <br>Harvard Medical School</h2>
        </h1>
    </div>
</div>

</html>