<html>
<div class="contenedor">
    <div class="contenedor1">
        <div class="informacion">
            <div class="mensaje">
                <h1>Subscribe to our newsletter</h1>
            </div>
            <div class="interaccion">
                <div class="texto1">
                    <div class="espacio1"> <input class="texto1" type="text" placeholder="First Name">
                    </div>
                    <div class="espacio2"> <input class="texto2" type="text" placeholder="Email">
                    </div>
                    <div class="espacio3"> <a>Suscribe Now</a>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

</html>

<app-footer></app-footer>