<html>
<div class="contenedor">
    <div class="informacion">
        <div class="informacion1">
            <div class="imagen">
                <img src="./img/frame.png" alt="">
                <h1>Dentics</h1>
            </div>
            <div class="imagen-informacion">
                <h2>Dentics is a well-known name in <br> dental and oral care in New <br> York. The journey of this <br>
                    institution started in 1990</h2>
            </div>
        </div>
        <div class="informacion2">
            <div class="mensaje1">
                <h2>We are welcoming you</h2>
            </div>
            <div class="mensaje2">
                <h1>Want to visit
                    our clinic?
                </h1>
            </div>
            <div class="mensaje3">
                <h2>Saturday - Thrusday <br> 10 am- 9 pm</h2>
            </div>
        </div>
        <div class="informacion3">
            <div class="redes1">
                <h1>Important link</h1>
            </div>
            <div class="redes2">
                <div class="redes21">
                    <h1>Facebook <br>Twitter <br>Instagram</h1>
                </div>
                <div class="redes22">
                    <h1>Career <br>Support <br>Privacy policy</h1>
                </div>
            </div>
        </div>
        <div class="informacion4">
            <div class="direccion1"><h1>Say hello to us</h1></div>
            <div class="direccion2"><h1>hello&#64;reallygreatsite.com</h1></div>
            <div class="direccion3"> <h2>Address <br> 123 Anywhere St., Any <br> City, NY 39200</h2></div>
        </div>
    </div>
    <div class="footer">
        <h1>© 2001-2022, All Rights Reserved</h1>
    </div>
</div>

</html>