<html>
    <div class="contenedor">
        <div class="contenedor1">
            <div class="mensaje1"><h1>WHO <span>WE ARE</span></h1></div>
            <div class="mensaje2"><h2>Our Glorious <br> <strong>History</strong></h2></div>
        </div>
        <hr class="hr1"/>
        <div class="contenedor2">
            <div class="imagen">
                <img src="./img/history.png" alt="">
            </div>
            <div class="historia">
                <div class="texto"><h1>Our history</h1><br><h2>Dentics is a well-known name in dental and oral care in New York. <br> The journey of this institution started in 1990 under the hands of <br> Dr. Jonathon Doe, Gold Medalist of Harvard University. Dentics <br> dental center has been leading the way in dental treatment in <br> USA for more than 30 years in keeping with the evolution of time <br> and the modernization of the era.
                </h2></div>
            </div>

        </div>
    
    </div>
</html>

<app-cliente></app-cliente> <!-- Incluye el componente Cliente aquí -->
